@charset "utf-8";
/* 내 css */


main {
    /* width: 100%; */
}

/* 실제로 보여지는 공간 : setinterval.html참고 */
main .main-slider {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 150px;

}

/* 슬라이드 전체를 담는 부모 
(실제 움직이는 대상) */
main .main-slider ul {
    width: 300%;
    margin: 0;
    padding: 0;
    position: relative;
    /* left를 쓰기 위해 필수! */
    left: 0;
    transition: none;
    /* 애니메이션은 JS가 담당하므로 끕니다 */

}

main .main-slider ul::after {
    content: "";
    display: block;
    clear: both;
}

main .main-slider ul li {
    width: calc(100% / 3);
    float: left;
}

main .main-slider ul .slide1 {
    position: relative;
}

main .main-slider ul li img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.main-info {
    width: 100%;
    display: inline-block;
    width: fit-content;
    position: absolute;
    top: 250px;
    left: 250px;

    /* outline: 2px solid red; */

}

.main-info .sub-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    width: fit-content;
}

.main-info h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    width: fit-content;

}

.main-info .des {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 70px;
    width: fit-content;

}

.main-info a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    width: fit-content;
}

.slider-arrows button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev-btn {
    left: 2vw;
}

.next-btn {
    right: 2vw;
}

main .slider-dots {
    width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.1s;
}

.dot.active {
    background-color: #213555;
    border-color: #213555;
}

section {}

section .best {
    max-width: 100%;
}

section .best .best-inner {
    width: 1200px;
    display: block;
    /* text-align: center; */
    /* outline: 3px solid blue; */
    margin: 0 auto 35px;
}

.best-title {
    /* outline: 2px solid red; */
    display: block;
    text-align: center;
    margin-bottom: 35px;
}

.best-title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #213555;
    margin-bottom: 10px;
}

.best-title p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

.best-container {
    /* width: fit-content; */
    margin-bottom: 35px;
    /* outline: 2px solid red; */
}

.best-container .recipe-content {
    width: 345px;
    height: 526px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.best-container .recipe-content video {
    width: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
}

.best-container .recipe-content .thumb {
    display: block;
    /* none에서 block으로 변경 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    cursor: pointer;
}

.best-container .recipe-content img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.best-container .recipe-content .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 21;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

.best-container .best-view {
    width: calc(831px + 20px);
    margin-right: -20px;
    float: left;
    overflow: hidden;
}

.best-container .best-view .best-track {
    width: calc(200% + 20px);
    display: block;
    transition: transform 0.8s ease;
}

.best-content {
    width: calc(50% - 10px);
    float: left;

    /* outline: 2px solid red; */
}

.best-content:first-child {
    margin-right: 20px;
}

.best-content .best-grp {
    width: 405px;
    border-radius: 6px;
    position: relative;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: 20px;
}

.best-content .best-grp~.best-grp {
    margin-left: 20px;
}

.best-content .best-grp~.best-grp:nth-child(2n+1) {
    margin-left: 0;
}

.best-content .best-grp:nth-child(4n+3),
.best-content .best-grp:nth-child(4n) {
    margin-bottom: 20px;
}

/* .best-content .best-grp:nth-of-type(1),
.best-content .best-grp:nth-of-type(3) {
    margin-right: 20px;
}

.best-content .best-grp:nth-of-type(1),
.best-content .best-grp:nth-of-type(2) {
    margin-bottom: 20px;
} */

.img-wrap {
    width: 205px;
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    display: block;

}

.best-content .best-grp img {
    width: 100%;
    margin-right: 20px;
    display: block;
    transition: transform 0.8s;
}

.best-content .best-grp img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.text-grp {
    width: 160px;
    margin-top: 33px;
    /* outline: 1px solid blue; */
    display: inline-block;
}

.text-grp a {}

.text-grp a h3 {
    /* width: 100%; */
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #213555;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;

}

.text-grp a p {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 15px;
}

.text-grp a p:hover {
    text-decoration: underline;
}

.product-info a.heart-btn {
    width: 36px;
    height: 36px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.product-info a.heart-btn:hover {
    background-color: #213555;
}

.product-info a.heart-btn img {
    width: 24px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-info a.heart-btn img:hover {
    width: 24px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.best-inner .best-indicator {
    width: 100%;
    text-align: center;
    clear: both;
    margin-bottom: 70px;
}

.best-indicator .best-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 15px;
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    /* 아이콘 배치를 위한 기준 */
    vertical-align: middle;
    transition: all 0.3s;
}

.best-indicator .best-dot img {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: auto;
    opacity: 0;
}

/* [핵심] 활성화(active) 되었을 때의 변화 */
.best-indicator .best-dot.active {
    background-color: transparent;
    transition: none;
    /* 회색 원 배경 삭제 */
}

.best-indicator .best-dot.active img {
    opacity: 1;
    transition: none;
    /* 숨겨진 아이콘 등장 */
}


/* --- 하단 더보기 버튼 --- */
.best-inner .best-more-btn {
    width: 375px;
    clear: both;
    margin: 0 auto 150px;
}

.best-more-btn a {
    width: 100%;
    height: 60px;
    line-height: 60px;

    /* 텍스트 세로 중앙 정렬 */
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    /* 아주 연한 회색 */
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s;
}

.best-more-btn a:hover {
    background-color: #213555;
    color: #ffffff;
}

.banner {
    width: 100%;
    height: 400px;
    max-width: 1920px;
    background-color: #213555;
    position: relative;
    overflow: hidden;
    margin: 0 auto 200px;

}

.banner .banner-img {
    position: absolute;
    top: 0;
    right: -1193px;
}

.banner .banner-img img {
    display: block;
}

.banner .banner-info {
    position: absolute;
    top: 82px;
    left: -828px;
}

.banner .banner-info .banner-brand {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    opacity: 0.8;
    word-spacing: 3px;
    margin-bottom: 80px;
}

.banner .banner-info .banner-txt {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

.banner-txt .point {
    color: #D8C4B6;
}

.banner .banner-info a.view-more {
    font-size: 22px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.banner .banner-info a.view-more:hover {
    color: #fff;
}

.custom {
    width: 100%;
}

.custom .custom-container {
    width: 1200px;
    /* outline: 5px solid lightblue; */
    display: block;

    margin: 0 auto 280px;
}

.custom-title {
    width: 100%;
    height: 52px;
    margin-bottom: 50px;
    /* outline: 2px solid red; */
    position: relative;
    display: block;
}

.custom-title h2 {
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 0;
    color: #213555;

}

.custom-title a {
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 0;
    line-height: 52px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
}

.custom-title a:hover {
    color: rgb(0, 0, 0);
}

.custom-content {
    display: flex;
    gap: 50px;
}

.custom-content .custom-grp {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.custom-content .custom-grp.on {
    opacity: 1;
    transform: translateY(0);
}

.custom-content .custom-grp.on:nth-child(1) {
    transition-delay: 0s;
}

.custom-content .custom-grp.on:nth-child(2) {
    transition-delay: 0.4s;
}

.custom-content .custom-grp.on:nth-child(3) {
    transition-delay: 0.8s;
}

.custom-content .custom-grp:last-child {
    /* margin-right: 0; */
}

.custom-content .custom-grp .img-box {
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 6px;

}

.custom-content .custom-grp .img-box img {
    width: 365px;
    transition: transform 0.8s;

}

.custom-content .custom-grp .img-box:hover img {
    opacity: 0.7;
    transform: scale(1.1);
}

.custom-content .custom-grp .custom-info {}

.custom-info img {
    margin-right: 10px;
    vertical-align: bottom;
}

.custom-info p {
    font-size: 26px;
    font-weight: 400;
    color: #213555;
    display: inline-block;

    /* outline: 1px solid red; */
}

.custom-info p strong {
    font-weight: 600;
}

.video {
    width: 100%;

    padding: 150px 0;
    /* height: 700px; */
    background-image: url(../images/video_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video .video-wrap {
    /* outline: 3px solid red; */
    width: 1200px;
    margin: 0 auto;

    position: relative;
}

.video-container {
    width: 700px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    /* margin-right: 35px; */
}

.video-container video {
    width: 100%;
    /* height: 100%; */

    display: block;

}

.video .video-info {
    /*  outline: 2px solid lime; */
    /* float: right; */
    /* margin-top: 160px; */

    position: absolute;
    bottom: 0;
    right: 0;

    margin-bottom: 30px;
}

.video .video-info h2.video-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #fff;

}

.video .video-info p.video-sub-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;

}

.video .video-info p.video-des {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}