@charset "utf-8";

/* reset.css */

@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}