@charset "utf-8";

/* header.css */

header {
    width: 100%;
    height: 90px;
    padding: 0 70px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 9999;

    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));

    /* border-bottom: 3px solid #eee; */
}

header.on {
    background-image: none;
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s;
    /* 부드러운 전환 효과 */
}


header .logo {
    /* width: 240px;
    height: 90px;
    display: inline-block;
    position: relative; */
    float: left;
    margin-right: 80px;

    /* outline: 2px solid red; */
}

header .logo img {
    height: 42px;
    display: block;
    margin-top: 24px;

    /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

header .gnb {
    /* width: 588px;
    height: 90px; */
    /* display: inline-block; */
    /* position: relative; */
    float: left;
    margin-top: 48px;


    /* outline: 2px solid red; */
}

header .gnb ul {
    /* width: 100%;
    height: 22px;
    padding: 0 10px;
    box-sizing: border-box; */

    /* position: absolute;
    left: 0;
    bottom: 20px; */

    /* outline: 2px solid blue; */
}

header .gnb ul li {
    /* height: 22px; */
    font-size: 18px;
    font-weight: 500;
    /* line-height: 22px; */
    /* display: inline-block; */
    float: left;
    position: relative;
    /* padding-right: 59px; */

    /* outline: 1px solid blue; */
}

header .gnb ul li~li {
    margin-left: 60px;
}

/* header .gnb ul li:last-child {
    padding-right: 0;

} */

header .gnb ul li a:hover {
    text-decoration: underline;
}

header .icon-grp {
    /* width: 214px;
    height: 90px; */
    float: right;
    margin-top: 40px;
    /* position: relative; */
    /* outline: 2px solid red; */
}

/* 
header .icon-grp .icon-grp-inner {
    width: 154px;
    height: 46px;
    position: absolute;
    left: 0;
    bottom: 14px;
    box-sizing: border-box;
    outline: 1px solid blue;
} */

header .icon-grp button {
    background-color: transparent;

    border: none;

    /*  outline: 1px solid blue; */
}

header .icon-grp button {
    margin-right: 8px;
    cursor: pointer;
}

header .icon-grp button:last-child {
    margin-right: 0;
}

/* lnb 기본 박스 설정 */
.lnb {
    width: 140px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px #d9d9d9;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 100%;
    top: calc(100% + 20px);
    transform: translateX(-16px);

    display: none;
}

.lnb::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* lnb 내부의 li 설정 */
.lnb li {
    /* 상위 GNB의 가로 나열 해제 */
    margin-left: 0 !important;
    width: 100%;
}

/* lnb 내부의 a 태그 설정 (핵심) */
header .gnb ul li .lnb li a {
    display: block;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    letter-spacing: -0.5px;
    text-decoration: none;
}

/* lnb 호버 효과 */

.lnb:hover {
    border-radius: 6px;
}

header .gnb ul li .lnb li a:hover {
    background-color: #f5f5f5;
    border-radius: 6px;
}